@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/* font-family: 'Oxygen', sans-serif; */

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    color: white;
    background: #202731;
    word-spacing: 2px;
}

section {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.gradient {
    padding-top: 150px;
    background: linear-gradient(200deg, #dd3f31, #ff0066, #e642f5, #9342f5, #3c31dd, #9342f5, #e642f5, #ff0066, #dd3f31 );
    background-size: 400% 400%;

    -webkit-animation: gradient-animation 60s ease infinite;
    -moz-animation: gradient-animation 60s ease infinite;
    animation: gradient-animation 60s ease infinite;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.purple {
    background: #31087B;
}

.dark {
    background: #0f0f10;
}

.custom-shape-divider-bottom-1659927002 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1659927002 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 102px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1659927002 .shape-fill {
    fill: #0F0F10;
}

.custom-shape-divider-bottom-1659927065 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1659927065 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 262px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1659927065 .shape-fill {
    fill: #DD3F31;
}

.custom-shape-divider-bottom-1659927158 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1659927158 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 185px;
}

.custom-shape-divider-bottom-1659927158 .shape-fill {
    fill: #31087B;
}

.custom-shape-divider-bottom-1660020137 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660020137 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 201px;
}

.custom-shape-divider-bottom-1660020137 .shape-fill {
    fill: #202731;
}

.head {
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

.heading {
    margin-left: 50px;
}

@-webkit-keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (min-width: 1812px){
    .content-a {
        text-align: center;
        width: 325px;
        float: left;
        margin-top: 5%;
        margin-left: -75%;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
        background: #31087B;
    }
    
    .content-middle {
        color: black;
        float: none;
        margin-top: -3%;
        margin-left: 0%;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
        background: #FFC23C;
    }
    
    .content-b {
        text-align: center;
        width: 325px;
        white-space: nowrap;
        color: white;
        float: right;
        margin-top: -9.5%;
        margin-left: 75%;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
        background: #FA2FB5;
    }
}


.announcements {
    text-align: center;
}

a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    color: #FFC23C;
}

a:hover {
    animation: blink-animation 0.3s linear infinite;
}

@keyframes blink-animation {
    0% {color: #FFC23C}
    50% {color: #ffffff}
    100% {color: #FFC23C}
}

@media (max-width: 1812px) {
    section {
        padding-bottom: 100px;
    }
    .content-a {
        text-align: center;
        width: 200px;
        float: left;
        margin-top: 5%;
        padding: 6px 30px 6px 30px;
        border-radius: 10px;
        background: #31087B;
    }
    
    .content-middle {
        text-align: center;
        width: 200px;
        float: left;
        margin-top: 5%;
        padding: 6px 30px 6px 30px;
        border-radius: 10px;
        background: #FFC23C;
    }
    
    .content-b {
        text-align: center;
        width: 200px;
        float: left;
        margin-top: 5%;
        padding: 6px 30px 6px 30px;
        border-radius: 10px;
        background: #FA2FB5;
    }
}

@media (max-width: 800px) {
    .heading {
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
        padding: 12px 0px 12px 0px;
        background-color: #202731;
    }
    section {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 150px 20vw;
    }
}
